extends ../base/main.pug

block content
  .container.text-center
    //- form(action="/api/account")
    //-   .row 
    //-     .col
    //-       input.form-control(name='id' type='search', placeholder='Your ID', aria-label='Search' required)
    //-     .col
    //-       button.btn.btn-warning(type='submit') Get Info

    //- br
    h3 Your Information
    table.table.table-striped.table-bordered
      tr.header
        th Name
        th ID
        th Phone
        th Address
        th Join Date
      each n in customer
        tr
          td=n.name
          td=n.id
          td=n.phone
          td=n.address
          td=n.date.toDateString()
    br
    h3 Your Accounts
    table.table.table-striped.table-bordered
      tr.header
        th Name
        th ACN
        th Current
        th Total
      each n in customer[0].accounts
        tr
          td=n.name
          td=n.acn
          td
              h5=n.current+' Taka'
          td=n.total+' Taka'
    br
    h3 Your Deposits
    table.table.table-striped.table-bordered
      tr.header
        th Date
        th Tag
        th Deposited To
        th Deposited By
        th Amount
      each n in deposit
        tr
          td=n.date.toDateString()
          td "test"
          td=n.dTo
          td=n.dBy
          td
            h5=n.amount+' Taka'